/* 
  CSS Reset
    This allows us to override a lot of the formatting the various
    browsers and create a uniform look across browsers.
  
  Source:
    http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* 
  General
*/

/* Use the border-box model for specifying the size of elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

/* Centered, 960px container for all our content */
.container {
  margin: 0 auto;
  width: 960px;
  background: #fff;
}


/* 
  Body
*/
.body {
  margin-top: 10px;
  margin-bottom: 10px;
}
.body img {
  width: 100%;
  margin-bottom: 10px;
}
.body p {  
  font: 400 16px/16px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
  margin-bottom: 10px;
}


/* 
  Header
*/

/* Container that holds the header */
.primary-header {
  position: relative;
  padding-top: 22px;
  border-bottom: 2px solid #000;
}


/* Formatting for the logo */
.logo {
  font: 900 44px/44px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
}
.logo a:link, .logo a:visited, .logo a:hover, .logo a:active {
  text-decoration: none;
  border-bottom: none;
}
.logo a:link {
  color: #120020;
}
.logo a:visited {
  color: #120020;
}
.logo a:hover {
  color: #F73F05;
}
.logo a:active {
  color: #120020;
}

/* Formatting for the navigation menu */
.nav {
  position: absolute;
  display: inline-block;
  text-align: right;
  right: 0;
  bottom: 0;
}
.nav li {
  font: 400 20px/20px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding-left: 12px;
}
.nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
  text-decoration: none;
  border-bottom: none;
}
.nav a:link {
  color: #120020;
}
.nav a:visited {
  color: #120020;
}
.nav a:hover {
  color: #F73F05;
}
.nav a:active {
  color: #120020;
}



/* 
  Footer
*/

footer {
  font: 400 14px/10px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}
footer .copywrite { 
  font-style: italic;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}
footer .contact {
  display: inline-block;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
  text-decoration: none;
  text-transform: lowercase;
  border-bottom: none;
}
footer a:link {
  color: #120020;
}
footer a:visited {
  color: #120020;
}
footer a:hover {
  color: #F73F05;
}
footer a:active {
  color: #120020;
}
