/* 
  CSS Reset
  http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* 
  Border box format for specifying width/height
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}


/* 
  General text styling
*/
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  border-bottom: none;
}
a:link {
  color: #120020;
}
a:visited {
  color: #120020;
}
a:hover {
  color: #F73F05;
}
a:active {
  color: #120020;
}
b {
  font-weight: 400;
}


/*
  Centered single column
*/
.container {
  margin: 0 auto;
  width: 500px;
  background: #fff;  
}
.container p {
  font: 300 44px/44px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
  Horizontal rules
*/
hr {
    height: 1px;
    background: #898989;
    width: 340px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*
  Title section
*/
.title p {
  font-size: 54px;
  line-height: 54px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}


/*
  Setting section
*/
.setting p {
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
} 
.setting .location {
  text-align: center;
} 
.setting .location img {
  display: inline-block;
  vertical-align: top;
}
.setting .location .caption {
  display: inline-block;
  margin-top: 10px;
}
.setting .location .caption p {
  text-align: left;
}

/*
  Description section
*/
.description .col-left {
  width: 200px;
  display: inline-block;
  margin-bottom: 10px;
}
.description .col-left img {
  width: 190px;
}
.description .col-right {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
.description .col-right p {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  margin: 10px 0 10px 0;
}
.description .col-right p:first-child {
  margin-top: 3px;
}
.description .meal-image {
  margin-bottom: 5px;
}

/*
  About section
*/
.about .info p {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.about .portraits {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.about .portraits img {
  width: 140px;
  display: inline-block;  
  margin: 0 7px 0 7px;
}

